@opensource:registry=https://code.apowo.com/api/v4/packages/npm/
//code.apowo.com/api/v4/projects/343/packages/npm/:_authToken=glpat-ozV7er9oXbQdkrUKEvkQ
//code.apowo.com/api/v4/packages/npm/:_authToken=glpat-ozV7er9oXbQdkrUKEvkQ